@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mega Menu Styles */

:root{
    --displayValue: none;
}

main, html, body{
    overflow-x: hidden;
}

.mega-menu {
    display: var(--displayValue);
    left: 0;
    position: absolute;
    text-align: left;
    width: 100%;
    z-index: 200;
    
}

/* Hover class styles */
.hoverable {
    position: static;
}

.hoverable>a:after {
    content: "\25BC";
    font-size: 10px;
    padding-left: 6px;
    position: relative;
    top: -1px;
}

.hoverable:hover .mega-menu {
    display: block;
}

/* toggle class styles */

.toggleable>label:after {
    content: "\25BC";
    font-size: 10px;
    position: relative;
    top: -1px;
}

.toggle-input {
    display: none;
}

.toggle-input:not(checked)~.mega-menu {
    display: none;
}

.toggle-input:checked~.mega-menu {
    display: block;
}

.toggle-input:checked+label {
    color: white;
    background: #2c5282;
}

.toggle-input:checked~label:after {
    content: "\25B2";
    font-size: 10px;
    padding-left: 6px;
    position: relative;
    top: -1px;
}

/* Divider */
hr.solid {
    border-top: 3px solid white;
}

.divide{
border-top: 5px solid black;
}